.about{
    padding-left: 15%;
    padding-right: 7%;
    background: var(--aboutBg);
    padding-bottom: 30px;
    @media(width<850px){
        padding-left: 6%;
        padding-right: 2%;
    }
}

.about img{
    margin: 0 auto;
}

.about .head{
    margin-top: 100px;
    font-size: 2rem;
}

.about p{
    margin-bottom: 40px;
}

.minHead{
    color:var(--headColor);
    margin-block: 30px;
    font-size: 1.4rem;
}

