.intro{
    padding-left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(width<850px){
        flex-wrap:wrap-reverse;
        justify-content: center;
        padding-left: 6%;
        text-align: center;
    }
}

.intro .mobile{
    display: none;
    max-inline-size: 150%;
}

.intro .desktop{
    transform: translate(20%, -10%);
    z-index: 1;
    position: relative;
}

@media(width<850px){
    .intro .desktop{
        display:none
    }
    .intro .mobile{
        display: block;
        transform: translate(-10%);
    }        
}

.intro .mock{
    position: absolute;
    z-index: 2;
    transform: translate(50%, -90%);
    block-size: 100%;
    @media(width<850px){
        transform: translate(5%, -110%);
        block-size: 40%;
        max-inline-size: 90%;
    }    
}

.intro button{
    margin-block: 40px;
}