.articles{
    padding-left: 15%;
    margin-block: 90px;
    border-radius: 20px;
    background: var(--footerColor);
    @media(width<850px){
        padding-left: 6%;
    }
}

.articles .grids div{
    background: var(--homeBg);
    overflow: hidden;
    transition: .3s ease-in-out;
    border-radius: 20px;
}

.articles .grids div img{
    max-inline-size: 100%;
    transition: .5s ease-in-out;
    overflow-clip-margin: content-box;
    overflow: clip;
    margin-bottom: 20px;
    block-size: 200px;
    display: flex;
    @media(width<850px){
        margin: 0 auto;
    }
}

.articles .grids div img:hover{
    transform: scale(1.05);
}

.minH{
    color: var(--headColor);
    font-size: 1.4rem;
}